<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Souce demo suite" parallel="tests" thread-count="4">
    <listeners>
        <listener class-name="Wraperes.ExtentReporterNG"/>
    </listeners>
    <test name="StandardUserFlow">
        <parameter name="username" value="standard_user"/>
        <parameter name="password" value="secret_sauce"/>
        <classes>
            <class name="LoginPageTest">
                <methods>
                    <include name="standardLogin"/>
                </methods>
            </class>
            <class name="ProductsPageTest">
                <methods>
                    <include name="addItemsToCart"/>
                    <include name="addItemThenRemove"/>
                </methods>
            </class>
            <class name="InventoryPageTest"/>
            <class name="CartPageTest"/>
            <class name="CheckOutPageTest">
                <methods>
                    <include name="setFirstNameOnly"/>
                    <include name="leavePostalCodeEmpty"/>
                    <include name="setFullInformation"/>
                </methods>
            </class>
            <class name="OverviewPageTest"/>
        </classes>
    </test>

    <test name="LockedOutUserFlow">
        <parameter name="username" value="locked_out_user"/>
        <parameter name="password" value="secret_sauce"/>
        <classes>
            <class name="LoginPageTest">
                <methods>
                    <include name="lockedOutLogin"/>
                </methods>
            </class>
            <class name="ProductsPageTest">
                <methods>
                    <include name="addItemsToCart"/>
                    <include name="addItemThenRemove"/>
                </methods>
            </class>
            <class name="InventoryPageTest"/>
            <class name="CartPageTest"/>
            <class name="CheckOutPageTest">
                <methods>
                    <include name="setFirstNameOnly"/>
                    <include name="leavePostalCodeEmpty"/>
                    <include name="setFullInformation"/>
                </methods>
            </class>
            <class name="OverviewPageTest"/>
        </classes>
    </test>

    <test name="ProblemUserFlow">
        <parameter name="username" value="problem_user"/>
        <parameter name="password" value="secret_sauce"/>
        <classes>
            <class name="LoginPageTest">
                <methods>
                    <include name="problemUserLogin"/>
                </methods>
            </class>
            <class name="ProductsPageTest">
                <methods>
                    <include name="addItemsToCart"/>
                    <include name="addItemThenRemove"/>
                </methods>
            </class>
            <class name="InventoryPageTest"/>
            <class name="CartPageTest"/>
            <class name="CheckOutPageTest">
                <methods>
                    <include name="setFirstNameOnly"/>
                    <include name="leavePostalCodeEmpty"/>
                    <include name="setFullInformation"/>
                </methods>
            </class>
            <class name="OverviewPageTest"/>
        </classes>
    </test>


    <test name="PerformanceUserFlow">
        <parameter name="username" value="performance_glitch_user"/>
        <parameter name="password" value="secret_sauce"/>
        <classes>
            <class name="LoginPageTest">
                <methods>
                    <include name="PerformanceGlitchLogin"/>
                </methods>
            </class>
            <class name="ProductsPageTest">
                <methods>
                    <include name="addItemsToCart"/>
                    <include name="addItemThenRemove"/>
                </methods>
            </class>
            <class name="InventoryPageTest"/>
            <class name="CartPageTest"/>
            <class name="CheckOutPageTest">
                <methods>
                    <include name="setFirstNameOnly"/>
                    <include name="leavePostalCodeEmpty"/>
                    <include name="setFullInformation"/>
                </methods>
            </class>
            <class name="OverviewPageTest"/>
        </classes>
    </test>

</suite>